body{
    background-image: url(https://i.ibb.co/WWm4qrB/purple-465931-12800002.jpg);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.thecarrusel{
    margin-top: 50px;
}
.header{
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    background-color: rgb(39, 4, 34);
    gap: 20px;
}
.navegador{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
 
}
.navegador a:link{
    background-color: rgba(32, 24, 32, 0.253);
    color: rgba(233, 230, 230, 0.82);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} 
a:hover{
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}



.navegador a:hover, a:active {
    background-color: rgba(61, 19, 56, 0.534);
    color: whitesmoke;
}
.example{
    text-align: center;
    padding: 10px;
}
form.example button:hover {
    background:  rgba(138, 78, 138, 0.473);
}
form.example input[type=text] {
    background:  rgba(206, 209, 216, 0.06);
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 0px solid grey;
    border-radius: 7px;
    width: 50%;
} 
form.example button {
   background: rgba(206, 209, 216, 0.06);
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; 
    cursor: pointer;
    border-radius: 7px;
    width: 15%;
    height: 88%;
}  

.columnafooters a:link, a:visited {
    color: rgba(233, 230, 230, 0.82);
    text-decoration: none; 
    text-align: center;
}

::-webkit-scrollbar {
    width: 15px;
  }
 ::-webkit-scrollbar-track {
    background: rgb(47, 31, 56); 
  }
 ::-webkit-scrollbar-thumb {
    background: rgb(61, 41, 73); 
  }
 ::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 2, 24, 0.856); 
  }

.texto{
    border-top: whitesmoke solid 1px;
}

.cajasordenadas a:hover{
    color: whitesmoke;
}
.cajasordenadas .cajasordenadasartistas{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    padding: 10px;
    gap: 1%;
    text-align: center;
    list-style-type: none;
}
.cajasordenadas .cajasordenadasartistas img{
    border-radius: 90px;
}
.cajasordenadasartistas a{
    text-decoration: none;
    color: whitesmoke;
    
}
.cajasordenadasartistas a:link{
    color: whitesmoke;
    text-decoration: none;
}


.cajasordenadas .cajasordenadasalbums{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    padding: 10px;
    gap: 1%;
    text-align: center; 
    list-style-type: none;
}
.cajasordenadasalbums img{
    border-radius: 10px;
}
.cajasordenadasalbums a{
    text-decoration: none;
    color: whitesmoke;
}
.cajasordenadasalbums a:link{
    color: whitesmoke;
    text-decoration: none;
}



.cajasordenadasgeneros{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    padding: 10px;
    gap: 1%;
    text-align: center; 
    list-style-type: none;
}
.cajasordenadasgeneros img{
    border-radius: 10px;
}
.cajasordenadasgeneros a{
    text-decoration: none;
    color: whitesmoke;
}
.cajasordenadasgeneros a:link{
    color: whitesmoke;
    text-decoration: none;
}

.charters{
    display: grid;
    gap: 95px;
    padding: 0px 35px;
    margin-top: 95px;
    margin-bottom: 10%;
}


.charters img{
    background-size: 100%; 
    width: 100%;
}



.texto{
    color: aliceblue;
    font-size: 16px;
}

h4{
    font-family: 'Black Ops One', cursive;
}
footer{
    background-color: rgb(39, 4, 34);
    
}
.extras .logodeezer{
    width: 10%;
    
}
  @media only screen and (max-width:768px){
    .cajasordenadasartistas ul{
        display: grid;
        grid-template-columns: repeat(3, 31%);
        gap: 3%;
        row-gap: 5%;
     }
     .cajasordenadasalbums ul{
        display: grid;
        grid-template-columns: repeat(3, 31%);
        gap: 3%;
        row-gap: 5%;
     }
     .cajasordenadasgeneros ul{
        display: grid;
        grid-template-columns: repeat(3, 31%);
        gap: 3%;
        row-gap: 5%;
     }
     form.example input[type=text] {
        width: 70%;   
    } 
    form.example button {  
        width: 20%;
        height: 88%; 
    }  
  }
  
  @media only screen and (max-width:425px){
    .cajasordenadasartistas ul{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 3%;
        row-gap: 5%;
     }
     .cajasordenadasalbums {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 3%;
        row-gap: 5%;
     }
     .cajasordenadasgeneros {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 3%;
        row-gap: 5%;
     }
     .thecarrusel{
         display: none;
     }
     .header{
         display: grid;
         grid-template-rows: 20%  1fr 1fr;
         grid-template-columns: none;
     }
     .navegador{
         display: grid;
         grid-template-columns: repeat(2,50%);
     }
     form.example button {  
        height: 45%; 
    }  
  }