body{
    background-image: url(https://i.ibb.co/WWm4qrB/purple-465931-12800002.jpg);
}
h1{
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
}
.columnas{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h3{
    color: whitesmoke;
    font-family: 'Black Ops One', cursive;
}