*{
    box-sizing: border-box;
}

body{
      background-image: url(https://i.ibb.co/WWm4qrB/purple-465931-12800002.jpg);
      background-size: cover;
      background-size: 100%;
      margin: 0;
      }

.header{
    background-color:rgb(0, 0, 0);
    display: inline-block;
    grid-template-columns: 5% 40% 20% 18%;
    width: 100%;
    height: 60px;
    position: relative;
    top: -10px;
    
 }

.navegador{
    position: absolute;
    width: 37%;
    left: 5%;
    bottom: 0;
}

.imagenlogo{
    width: 60px;
    height: 55px;
    position: absolute;
    bottom: 0;

}


a:link{
    color: white;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    
}
a:hover{
    font-size: 15px;
    color: rgb(12, 2, 4)k;
    text-decoration: none;

}

.navegador a:link, a:visited {
    background-color: rgba(32, 24, 32, 0.253);
    color: rgba(233, 230, 230, 0.82);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
  
 .navegador a:hover, a:active {
    background-color: rgba(61, 19, 56, 0.534);
  }

  .example{
      position: absolute;
      height: 0;
      bottom: 95%;
      left: 46%;

  }


.inconos{
    display: block;
    position: absolute;
    bottom: 5px;
    left: 88%;


    
}

.instagram1{
    
    height: 35px;
}
.twitter1{
    
    height: 35px;
    background-position: right;
    background-size: 100%;
    }

.facebook1{
    height: 35px;
}
.primerincon{
    padding: 10px;
}
.segundoincon{
    padding: 10px;
}
.tercerincon{
    padding: 10px;
}





form.example input[type=text] {
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 0px solid grey;
    float: left;
    width: 80%;
    height: 38px;
    background: #58555529;
    position: relative;
    left: 30%;
    top: 10px;
    border-radius: 20px;
  }
  
  
  form.example button {
    float: left;
    width: 20%;
    height: 38px;
    padding: 10px;
    background: #58555529;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none; 
    cursor: pointer;
    position: relative;
    left: 30%;
    top: 10px;
    border-radius: 15px;
  }
  
  form.example button:hover {
    background:  rgba(138, 78, 138, 0.473);
  }
  
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  body, html {
    height: 100%;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  font-size: 30px;
  position: relative;
  top: none;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0e0808a3;
}


@media  (max-width: 768px){

    .navegador{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
    }
}

.artistascaja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 180px;
    position: relative;
    top: 92%;
    justify-items: center;

}

.texto{
    display: inline-block;
    position: relative;
    top: 580px;
    left: 20px;
}

.texto0{
    display: inline-block;
    position: relative;
    top: 915px;
    right: 18.5%;
}


.artista1{
    background-image: url(../img/_Falling_\ by\ Trevor\ Daniel\ was\ added\ to\ my….jpg);
    background-size: 100%;
    height: 177px;
    width: 228px;
}

.artista2{
    background-image: url(../img/Ariana\ Grande\ -\ Good\ is\ a\ woman\ _\ The\ Urban\ Pop\ by\ Alex\ Robles.jpg);
    background-size: 100%;
    height: 177px;
    width: 228px;
}

.artista3{
    background-image: url(../img/_Only\ Human_\ by\ Jonas\ Brothers\ was\ added\ to\ my….jpg);
    background-size: 100%;
    height: 177px;
    width: 228px;

}

.artista4{
    background-image: url(../img/Blue\ Neighbourhood\ \(Deluxe\)\ by\ Troye\ Sivan\ on….jpg);
    background-size: 100%;
    height: 177px;
    width: 228px;
}

.artista5{
    background-image: url(../img/Camila\ Cabello\ -\ Romance.png);
    background-size: 100%;
    height: 175px;
    width: 228px;
}

.segundacaja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 180px;
    position: relative;
    top: 115%;
    justify-items: center;
}

.num1{
    background-image: url(../img/_I\ Luv\ U\ \(with\ R3HAB\)_\ by\ Sofia\ Carson\ R3HAB\ was….jpg);
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.num2{
    background-image: url(../img/Artista1.jpg);
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.num3{
    background-image: url(../img/Artista2.jpg);
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.num4{
    background-image: url(../img/Artista3.png);
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.num5{
    background-image: url(../img/Artista4.jpg);
    background-size: 100%;
    width: 200px;
    height: 200px;
    border-radius: 150px;
}


.carousel{
    position: relative;
    bottom:412px;
}